# Dependencies
node_modules

# Build outputs
dist
build
.vite

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Cache
.cache

# Package manager files
package-lock.json
yarn.lock
pnpm-lock.yaml
