.mainfont {
  font-family: 'Google Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'GRAD' 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
